# Exclude logs directory
logs/

# Exclude SQLite database files
airflow.db
airflow.db.backup

# Exclude temporary or output files
Nalla-test-outfile/

# Exclude compiled Python files
*.pyc
__pycache__/

# Exclude Airflow webserver configuration & PID file
webserver_config.py
airflow-webserver.pid
